<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-col">
                <h3>AirShop</h3>
                <p>فروشگاه آنلاین ایرپاد و لوازم جانبی صوتی</p>
            </div>
            <div class="footer-col">
                <h3>لینک‌های سریع</h3>
                <a href="{% url 'home' %}">صفحه اصلی</a>
                <a href="{% url 'product_list' %}">محصولات</a>
                <a href="{% url 'contact' %}">تماس با ما</a>
            </div>
            <div class="footer-col">
                <h3>ارتباط با ما</h3>
                <p>تلفن: 09981398090</p>
                <p>ایمیل: alioskoroovala1384@gmail.com</p>
            </div>
            <div class="footer-col">
                <h3>شبکه‌های اجتماعی</h3>
                <a href="https://instagram.com/ali.oskoroovala?stkn=MWJ1cmtha2d0YWdkbA==" target="_blank" rel="noopener noreferrer">اینستاگرام</a>
                <a href="https://t.me/ali_oskoroovala" target="_blank" rel="noopener noreferrer">تلگرام</a>
                <a href="https://eitaa.com" target="_blank" rel="noopener noreferrer">ایتا</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>تمامی حقوق یرای AirShop محفوظ است</p>
        </div>
    </div>
</footer>

