{% load static %}
{% load catalog_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AirShop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}" defer></script>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>
